body {
    text-align: center;
    font-family: serif;
    font-size: 250%;
}
.h11 {
    margin: 80px;
    font-size: 250%;
    background :linear-gradient(to bottom, #ff0000da 0% ,rgba(255, 0, 0, 0) 200%);
    box-shadow: 0px 0px 100px 0px rgba(80, 59, 59, 0.8);
}
